{% extends "base.html" %}
{% block content %}
<div class="py-5 text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Управляющий персонал</h1>
        <p>
            <a href="/new_purchase" class="btn btn-primary my-2">Новая покупка</a>
            <a href="/product_info_in_store" class="btn btn-primary my-2">Наличие товара</a>
            <a href="/product_info" class="btn btn-primary my-2">О товаре</a>
            <a href="/products_in_store" class="btn btn-primary my-2">Товары в филиале</a>
            <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 10px">
                Клиенты
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for el in clients %}
                <li><a class="dropdown-item" href="/info_and_edit_client/{{ el[0] }}">{{ el[0] }}</a></li>
                {% endfor %}
            </ul>
            </div>
            <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Редактировать товар
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for el in products %}
                <li><a class="dropdown-item" href="/edit_product/{{ el[0] }}">{{ el[0] }}</a></li>
                {% endfor %}
            </ul>
            </div>
            <a href="/add_product" class="btn btn-primary my-2">Добавление товара</a>
            <a href="/delete_product" class="btn btn-primary my-2">Удаление товара</a>
            <a href="/deliveries" class="btn btn-primary my-2">Поставки</a>
            <a href="/manufacturers" class="btn btn-primary my-2">Производители</a>
            <a href="/categories_edit" class="btn btn-primary my-2">Категории</a>
        </p>
    </div>
</div>
{% endblock %}